.main_ecosysytem{
    padding: 60px 10px !important;
    background-color: #232323;
    border-bottom: 1px solid white !important;
}

.main_eco_heading{
    font-size: 48px !important;
    color:#fff!important ;
    text-align: center;

}

.right_eco_content h6 {
    font-size: 32px !important;
   text-transform: capitalize !important;
   color: white;
   font-weight: 700;
}

.right_eco_content p {
    color: #fff;
    opacity: 0.5;
    text-transform: capitalize;
}


.gif_main{
    width: 100%  !important;
    /* height: 100% !important; */
    height:0;
    padding-bottom:100%;
    position:relative;
}

.inner_gif {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position:absolute;
}


.main_heading_eco{
    font-size: 48px ;
    font-weight: 700;
    /* text-decoration: underline; */
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 1rem ;
    position: relative;
}


.main_heading_eco::after{
    content: "";
    background-color: #00ff80; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #00ff80 , #232323);
    height: 6px;
    width: 25%;
    position: absolute;
    bottom: -2px;
    /* top: 1px; */
    left: 38%;
}